{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Avaliação</title>
	<link rel="stylesheet" type="text/css" href="{% static  'bootstrap/css/bootstrap.min.css' %}">

</head>
<body>
	<div class="panel panel-default">
	  	<!-- Default panel contents -->
	  	<div class="panel-heading">Question 01</div>
	  	<div class="panel-body">
	  	</div>
		  	<!-- Table -->
		  	<table class="table">
		    	<tr>
		    		<th>Nome</th>
		    		<th>Avalicação</th>
		    	</tr>
		    	{% if  data %}
		    		{% for dado in data %}
		    			<tr>
			    			<td>{{ dado.nome }}</td>
                            <td>{{ dado.avaliacao }}</td>
		    			</tr>
		    		{% endfor %}
		    	{% else %}
		    		<td>Nenhum dado encontrado</td>
		    	{% endif %}
		  	</table>
	</div>
</body>
</html>